.card-body {
    background: rgb(253, 249, 249);
}

.card {
    margin-top: 20px;
    background: transparent;
    margin-bottom: 60px;
    
}

.jumbotron-fluid {
    text-align: center;
    background: rgb(88, 8, 238);
    color: white;
    
}

body {
    background-image: url("../interlaced.png");
}

h2 {
   font-family: monospace 
}

.row {
margin: auto;
}

#submitButton,
#speechButton,
#stopButton {
    background: rgb(88, 8, 238);
}

#text-output{
    margin-bottom: 10px;
}

#random {
    background-color: rgb(88, 8, 238);
}

footer a {
    color: white;
}

#language {
    margin-bottom: 16px;
}

.col {
    text-align: center;
}

.page-container {
    position: relative;
    min-height: 100vh;
  }
  
  .content-wrap {
    padding-bottom: 2.5rem; 
  }
  
  footer {
    background: rgb(119, 116, 126);
    position: absolute;
    bottom: 0;
    width: 100%;   
    padding: 20px; 
    color: white; 
    margin-top: 50px;
  }