.card-body {
    background: rgb(253, 249, 249)
}

.card {
    margin-top: 20px;
    background: transparent;
    
}

.jumbotron-fluid {
    text-align: center;
    background: rgb(88, 8, 238);
    color: white;
    
}

body {
    background-image: url("../interlaced.png");
}

h2 {
   font-family: monospace 
}

.row {
margin: auto;
}

#submitButton,
#speechButton,
#stopButton {
    background: rgb(88, 8, 238);
}

#text-output{
    margin-bottom: 10px;
}

#random {
    background-color: rgb(88, 8, 238);
}

footer {
    background: rgb(119, 116, 126);
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
}
footer a {
    color: white;
}

#language {
    margin-bottom: 10px;
}

.col {
    text-align: center;
}
