.card-body {
    background: rgb(253, 249, 249)
}

.card {
    margin-top: 20px;
    background: transparent;
    
}

.jumbotron-fluid {
    text-align: center;
    background: rgb(89, 0, 255);
    color: white;
    
}

body {
    background-image: url("assets/interlaced.png");
}

h2 {
   font-family: monospace 
}

.row {
margin: auto;
}

#submitButton,
#speechButton,
#stopButton {
    background: rgb(89, 0, 255);
}

